apiVersion: v1
kind: Service
metadata:
  name: devops-api
  namespace: devops-api
  labels:
    app: devops-api
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 3000
    targetPort: http
    protocol: TCP
  selector:
    app: devops-api
