name: CI Pipeline

on:
  push:
    branches: [ "main", "feature/*" ]
  pull_request:

jobs:
  build-test-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm test

      - name: SAST - Semgrep
        uses: returntocorp/semgrep-action@v1
        with:
        config: ".semgrep.yml"

      - name: Build Docker image
        run: docker build -t devops-project-yessine .